/* Element Selector */

h1 {
    color: red;
}

/* Class Selector */
.heading1 {
    color: rosybrown;
}

/* ID selector */
#heading-id {
    color: royalblue;
}

/* Pseudo selector */
.pseudoSelector:hover {
    color: seagreen;
}

/* Pseudo selector First and Last child*/

li:first-child {
    color: turquoise;
}

li:last-child {
    color: red;
} */

/* specific child number */
li:nth-child(2) {
    color: violet;
}

/* The :only-child CSS pseudo-class represents an 
element without any siblings */

.onlyChild :only-child {
    color: yellow;
}

#google-link:link {
    color: blue;
}

#google-link:visited {
    color: black;
}

/* (+) This is take a next element for styling and 
    It will work only in same level */

h1+button {
    color: blue;
}

/* (~) selector is take a next element for styling*/

h1~button {
    color: blue;
}

/* Child Selectors */

.childSelector  > li {
    color: brown;
}

/* Descendant Selector */

/* .childSelector li {
    color: brown;
} */

/* CSS [attribute] selector */

span[title]{
    color:red
}

span[alt]{
    color: royalblue;
}

a[target='_blank']{
    color: salmon;
}

p[title~='Country']{
    color:seagreen
}

/* values should be case sensitive */
p[title~='India']{
    color:blue
}

p[title~='sriLanga']{
    color:red
}

/* Start with content as a word  */
p[title|='content']{
    color: springgreen;
}
/* any word */
p[title^='anyword']{
    color: aqua;
}

/* End with */
p[title*='pakistan']{
    color: green;
}

/* Global selector */

/* p[title*='-']{
    color: green;
} */